:root {
  --netflix-red-color: #e50914;
}

body {
  background: #141414;
  font-family: 'Noto Sans JP', sans-serif;
}

::selection {
  background: white;
  color: black;
}

body::-webkit-scrollbar {
  display: none;
}

button {
  cursor: pointer;
}

